<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
    <head>
        <title>Sobre</title>
        <link href="/estilos/eventos.css" rel="stylesheet" />
    </head>
    <body>
        <section layout:fragment="content">
            <div class="card">
                <img src="/imagens/logo.png" class="card-img-top" alt="iCalouro logo" />
                <div class="card-body">
                    <h5 class="card-title">iCalouro</h5>
                    <p class="card-text">Este projeto foi feito para guiar os alunos ingressantes no curso de informática</p>
                </div>
            </div>
        </section>
    </body>
</html>
